<div class="container">
  <h2><small class="text-muted">Confirm Estimate</small> </h2>
    <p>Please review the information below to ensure that the correct subject and visit are selected.</p>
    <br><div @fade @fade2 *ngIf="custEdited" style="opacity: 0;" class="alert alert-success alert-dismissible animate__animated animate__bounce" role="alert">
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Customer </strong>Information succesfully updated 
      </div>
  <div *ngIf="!wantEditCustomer; else elseBlock" class="box" id="div_one">
    
    <p><b>Customer</b>  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg></p>
    <br>
    <div class="row">
      <div class="col-md-4">
    <p>Name</p>
    <h6>{{customer.firstName}} {{customer.lastName}} </h6>
  </div>
  <div  class="col-md-2">
    <p>Address</p>
    <h6>{{customer.address.streetAddress}}</h6>
  </div>
  <div  class="col-md-2">
    <p>City</p>
    <h6>{{customer.address.city}}</h6>
  </div>
  <div class="col-md-2">
    <p>State</p>
    <h6>{{customer.address.state}}</h6>
  </div>
  <div  class="col-md-2">
    <p>Zipcode</p>
    <h6>60098</h6>
  </div>
  </div>
  <br>
  <br>
<div class="row">
  <div class="col-md-4">
    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
      <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
      <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
    </svg></p>
    <h6>{{customer.phone}}</h6>
  </div>
  <div class="col-md-4">
    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
    </svg></p>
    <h6 style="">{{customer.email}}</h6>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <p>Notes</p>
    <p>{{customer.notes}}</p>
    <br>
    <button style="border: 1px solid rgb(191, 212, 233); width: 7em" class="btn float-right" (click)="wantsEditCustomer()">Edit</button>
  </div>
</div>
  </div>

  <ng-template  #elseBlock><div class="box" id="div_one">
    
    <p><b> Edit Customer</b>  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg></p>
    <br>
    <div  class="row">
      <div class="col-md-5">
    <p><small  class="text-muted">First Name</small> </p>
    <input (change)="handleFirstName($event)" [value]="customer.firstName" class="form-control" style=" background: transparent; 
    border: none;
    border-bottom: 1px solid #d2e7f3;
    outline:none;
    box-shadow:none;" type="text">
  </div>
  <div class="col-md-5">
    <p><small  class="text-muted">Last Name</small> </p>
    <input (change)="handleLastName($event)" [value]="customer.lastName" class="form-control" style=" background: transparent; 
    border: none;
    border-bottom: 1px solid #d2e7f3;
    outline:none;
    box-shadow:none;" type="text">
  </div>
  <br>
  <div style="margin-top: 2em;" class="col-md-5">
    <p><small  class="text-muted">Street Address</small> </p>
    <input (change)="handleStreetAddress($event)" [value]="customer.address.streetAddress" class="form-control" style=" background: transparent; 
    border: none;
    border-bottom: 1px solid #d2e7f3;
    outline:none;
    box-shadow:none;" type="text">
  </div>
  <div style="margin-top: 2em;" class="col-md-2">
    <p><small  class="text-muted">City</small> </p>
    <input (change)="handleCity($event)" [value]="customer.address.city" class="form-control" style=" background: transparent; 
    border: none;
    border-bottom: 1px solid #d2e7f3;
    outline:none;
    box-shadow:none;" type="text">
  </div>
  <div style="margin-top: 2em;" class="col-md-2">
    <p><small  class="text-muted">State</small> </p>
    <input  (change)="handleState($event)" [value]="customer.address.state" class="form-control" style=" background: transparent; 
    border: none;
    border-bottom: 1px solid #d2e7f3;
    outline:none;
    box-shadow:none;" type="text">
  </div>
  <div style="margin-top: 2em;" class="col-md-2">
    <p><small  class="text-muted">Zipcode</small> </p>
    <input  [value]="60098" class="form-control" style=" background: transparent; 
    border: none;
    border-bottom: 1px solid #d2e7f3;
    outline:none;
    box-shadow:none;" type="text">
  </div>
  </div>
  <br>
  
  <div @fade class="row">
    <div style="margin-top: 0em;" class="col-md-4">
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
        <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg></p>
      <input (change)="handlePhone($event)" [value]="customer.phone" class="form-control" style=" background: transparent; 
      border: none;
      border-bottom: 1px solid #d2e7f3;
      outline:none;
      box-shadow:none;" type="text">
    </div>
    <div style="margin-top: 0em;" class="col-md-4">
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
      </svg></p>
      <input (change)="handleEmail($event)" [value]="customer.email" class="form-control" style=" background: transparent; 
      border: none;
      border-bottom: 1px solid #d2e7f3;
      outline:none;
      box-shadow:none;" type="text">
    </div>
    
  </div>
<br>
<br>
<div @fade class="row">
  <div class="col-md-12">
    <p><small  class="text-muted">Notes</small> </p>
    <textarea (change)="handleNotes($event)" value="{{customer.notes}}"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <br>
    <button style="border: 1px solid rgb(191, 212, 233); width: 7em; background: cornflowerblue; color: white;" class="btn float-right" (click) ="saveEditCustomer()" >Save</button>
  </div>
</div>
  </div></ng-template>
 <br> 
  <div *ngIf="!wantEditWork;else elseBlock2"class="box"  id="div_two">
     
    <p><b>Work</b><svg style="margin-left: 1em;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
      <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
      <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
    </svg> </p>
    <br>
    <div class="row">
      <div class="col-md-6">
    <p>Type</p>
    <h6 >{{work.workType}}</h6>
  </div>
 
  </div>
  <br>
  <div class="row">
    <div  class="col-md-3">
      <p>Condition</p>
      <h6>{{work.condition}}</h6>
    </div>
    <div  class="col-md-3">
      <p>Difficulty</p>
      <h6>{{work.condition}}</h6>
    </div>
    <div  class="col-md-3">
      <p>Hours</p>
      <h6>{{work.hours}}</h6>
    </div>
  
  
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <p>Description</p>
    <h6>{{work.workDescription}}</h6>
  </div>
</div>
<br>
<br>
<button style="border: 1px solid rgb(191, 212, 233); width: 7em" class="btn float-right" (click)="wantsEditWork()">Edit</button>

  
    <br>
  </div>
  <ng-template #elseBlock2>
    <div class="box"  id="div_two">
     
      <p><b>Edit Work</b><svg style="margin-left: 1em;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
        <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
      </svg> </p>
      <br>
      <div class="row">
        <div class="col-md-6">
          <p>Type </p>
          <input (change)="handleWorkType($event)" [value]="work.workType" class="form-control" style=" background: transparent; 
          border: none;
          border-bottom: 1px solid #d2e7f3;
          outline:none;
          box-shadow:none;" type="text">
        </div>
   
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <p>Condition </p>
        <input (change)="handleCondition($event)" [value]="work.condition" class="form-control" style=" background: transparent; 
        border: none;
        border-bottom: 1px solid #d2e7f3;
        outline:none;
        box-shadow:none;" type="text">
      </div>
      <div class="col-md-3">
        <p>Difficulty </p>
        <input (change)="handleDifficulty($event)" [value]="work.difficulty" class="form-control" style=" background: transparent; 
        border: none;
        border-bottom: 1px solid #d2e7f3;
        outline:none;
        box-shadow:none;" type="text">
      </div>
      <div class="col-md-3">
        <p>Hours </p>
        <input (change)="handleHours($event)" [value]="work.hours" class="form-control" style=" background: transparent; 
        border: none;
        border-bottom: 1px solid #d2e7f3;
        outline:none;
        box-shadow:none;" type="text">
      </div>
    
    
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <p>Description </p>
      <textarea (change)="handleDescription($event)" [value]="work.workDescription" class="form-control" style=" background: transparent; 
      border: none;
      border-bottom: 1px solid #d2e7f3;
      outline:none;
      box-shadow:none;" type="text"></textarea>
    </div>
  </div>
  <br>
 
  <button style="border: 1px solid rgb(191, 212, 233); width: 7em; background: cornflowerblue; color: white;" class="btn float-right" (click) ="saveEditWork()" >Save</button>
  
    
      <br>
    </div>
  </ng-template>
  <div class="box"  id="div_one2" style="margin-top: 3em; border-radius: 30px; max-height: 31em; width: 45%;"><div class="tasks">
    <p><b>Tasks</b> <svg style="margin-left: 1em;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
      <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
      <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
    </svg> </p>
    <div style="margin-top: 2em;" class="tableback">
      <section>
        <!--for demo wrap-->
        <div class="tbl-header">
          <table   cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Task Name</th>
                <th> Description</th>
                <th>Action</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody >
              <tr *ngFor="let task of work.tasks; let i = index">
                <td>{{task.taskName}}</td>
                <td>{{task.taskDescription}} {{i}} </td>
                <td><button style="border:1px solid cornflowerblue;" (click) ="editTask()" class="btn btn">Edit</button></td>
                
              </tr>
              
              
              
             
              
            </tbody>
          </table>
          <p *ngIf="work.tasks.length == 0" class="text-center">You currently have no tasks</p>
         
        </div>
        <button *ngIf="work.tasks.length==0" class="btn  float-right " style="border:1px solid rgb(213, 223, 241);" (click)="addTasks()">Add Tasks</button>
      </section>
      
    </div>
  </div></div>
</div>
<br>
<br>

<br>
<br>
<br>

<div   class="container">
  <br>
  <br>
  <br>
 
  <div class="box"  *ngIf="hasMaterials" style="max-height: 25em !important; margin-top: 2em !important;" id="div_one">
  <p><b>Materials</b> <svg style="margin-left: 1em;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
  </svg> </p>
  <br>
  <section>
    <!--for demo wrap-->
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Material Name</th>
            <th>Material Description</th>
            <th>Material Cost</th>
            <th>Action</th>
           
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr *ngFor="let material of materialss.materials">
            <td>{{material.materialName}}</td>
            <td>{{material.materialDescription}} </td>
            <td>{{material.materialCost}}</td>
            <td><button style="border:1px solid cornflowerblue;" class="btn btn" (click)="editMaterial()">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>
</div>
</div>
<br>
<br>
<div  class="container">
  <div class="box"  *ngIf="hasPictures" style="margin-top: 2em;" id="div_one">
  <p><b>Pictures</b><svg style="margin-left: 1em;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-image" viewBox="0 0 16 16">
    <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12V2z"/>
  </svg> </p>
  <br>
  <div class="row">
    <div class="col-md-3" *ngFor="let picture of pictures">
      <img height="100" width="150" src="{{picture.imageBase}}" alt="" >
    </div>
    
  </div>
  
</div>
<div *ngIf="responseUrl">
<a class="float-right" style="margin: 3.5em" href="https:\localhost:5001\api\Estimates\download\{{responseUrl}}">Download</a>
</div>
<button style="margin-left: 3px;background-color: #5cb85c; border: none; margin-top: 3em; margin-bottom: 2em; " class="btn btn-primary float-right" (click)="saveEstimate()" type="submit">Save Estimate </button>
</div>
 


