
.middle-outer-flex{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.middle-image img{
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}
.middle-pro-container{
    box-shadow: 0 3px 10px 9px rgba(0, 0, 0, 0.1);
    width: 60em;
    height: 23em;
    display: flex;
    align-items: center;
    padding: 4em;
    margin-bottom: 2em;
    opacity: 0;
    transition: 2s;
    margin-top: 2em;

}
.feat-project2{
    color: #00ffdd ;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
}
.feat-title2{
    color: black ;
    font-family: var(--font-family);
    font-size: 30px;
    margin-top: 5px;
    font-weight: 700;
}
.feat-description2{
   
    font-family: var(--font-family);
    font-size: 20px;
    width: 23em;
    line-height: 35px;
    opacity: 0.8;
    margin-top: 1em;
}
.pro-image img{
    width: 25em;
   
}
.featured-butt2{
    background-color: rgb(0, 255, 221);;
    border: 0;
    padding: 1em 2em;
    border-radius: 10px;
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    float: right;
    margin-right: 4em;
}
.color{
    background-color:#D6EADD ;
    height: 7em;
    width: 100%;
    margin-bottom: 4em;
}
@media screen and (max-width: 600px) {
    .middle-pro-container{
        box-shadow: 0 3px 10px 9px rgba(0, 0, 0, 0.1);
        width: 25em;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0em;
        margin-bottom: 4em;
      
       
    
    }
    .feat-project2{
        color: #00ffdd ;
        font-family: var(--font-family);
        font-size: 20px;
        font-weight: 500;
    }
    .feat-title2{
        color: black ;
        font-family: var(--font-family);
        font-size: 25px;
        margin-top: 5px;
        font-weight: 700;
    }
    .feat-description2{
       
        font-family: var(--font-family);
        font-size: 15px;
        width: 23em;
        line-height: 35px;
        opacity: 0.8;
        margin-top: 1em;
    }
  }