
<br>
<h3 class="title" ><small class="text-muted">
    Estimates</small></h3>
<div style="margin-top: 2em; width: auto; margin-bottom: 4em; margin-left: 1%; display: flex;">
<ngx-charts-bar-vertical 
    [view]="[500,300]"
    [results]="saleData"
    [xAxisLabel]=""
    [legendTitle]="'Product Sale Chart'"
    [yAxisLabel]="'Amount'"
    
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [scheme] ="'aqua'"
    [gradient]="true">
</ngx-charts-bar-vertical>


</div>
<br>


    
