.nav-item{
    color: white;
    text-decoration: none;
    font-family: var(--font-family);
    padding: 1em 2em;
    transition: 1s;
    cursor: pointer;
}
.nav-item:hover{
   transform: scale(1.1);
}
.nav-container{
    display: 'flex';
    justify-content: center;
    align-items: center;
}