<!-- Multi step form --> 
<section class="multi_step_form">  
    <form id="msform"> 
      <!-- Tittle -->
      <div class="tittle">

      </div>
      <!-- progressbar -->
      <ul id="progressbar">
        <li [ngClass]="{'pp' : estimateService.getCount() ==0}" class="active poop">Customer Info</li>  
        <li [ngClass]="{'active' : estimateService.getCount() > 0}"><div [ngClass]="{'pp' : estimateService.getCount() ==1}">Work Summary</div></li> 
        <li [ngClass]="{'active' : estimateService.getCount() > 1}"> <div [ngClass]="{'pp' : estimateService.getCount() ==2}" class="pp">Materials </div></li>
        <li [ngClass]="{'active' : estimateService.getCount() > 2}"><div [ngClass]="{'pp' : estimateService.getCount() ==3}" class="pp">Pictures </div></li>
        <li [ngClass]="{'active' : estimateService.getCount() > 3}"><div [ngClass]="{'pp' : estimateService.getCount() ==4}" class="pp">Summary</div></li>
      </ul>
      <!-- fieldsets -->
     
        
        
       
    </form>  
  </section> 
  <!-- End Multi step form -->   