.featured-main-container{
    height: 100%;
    padding: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

}
.featured-texts{
    margin-right: 5em;
}
.feat-project{
    color: #00ffdd ;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
}
.feat-title{
    color: black ;
    font-family: var(--font-family);
    font-size: 30px;
    margin-top: 5px;
    font-weight: 700;
}
.feat-description{
   
    font-family: var(--font-family);
    font-size: 20px;
    width: 23em;
    line-height: 35px;
    opacity: 0.8;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.feat-site{
    transition: 0.5s;
    text-decoration: none;
}
.feat-site:hover{
    
    transform: scale(1.1);
}
.featured-image img{
    width: 35em;
    border-radius: 30px;
    opacity: 0;
    transition: 1s;
}
.featured-butt{
    background-color: rgb(0, 255, 221);;
    border: 0;
    padding: 1em 2em;
    border-radius: 10px;
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    cursor: pointer;
 
}
.feat-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured-image img:hover{
    transform: scale(1.05);
}
@media screen and (max-width: 600px) {
    .featured-main-container{
        flex-direction: column;
        height: auto;
        padding: 4em;
    }
    .featured-texts{
        margin-right: 0em;
    }
    .featured-image img{
        margin-top: 3em;
        width: 30em;
        border-radius: 10px;
        opacity: 0;
        transition: 2s;
    }
  }
  @media screen and (max-width: 1200px) {
    .featured-main-container{
    
        padding: 4em;
    }
    
  }